@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@500&display=swap');

.logo{
    width: 80px;
} 
#logo_link{
    padding-top: 5px;
}
.icon{
    padding-top: 10px;
    width: 80px;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: black;
    padding: 35px;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
#hero-img{
    width: 100%;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
}
body{
    font-family: Dosis, Helvetica, sans-serif;
    font-size: 22px;
    background-color:#8F98BB;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}
header{
    background-color:#0d658d;
}
nav a:hover{
    background-color:white;
    color: #021f35;
}
.home-title{
    font-family: "Bebas Neue";
    font-size: 2em;
    color:black;
    margin-top: 10px;
}
h4{
    color: black;
}
.book, .join{
    border-radius: 5px;
    font-size: 18px;
    background-color:#c2cbee;
    color: black;
    margin-top: 50px;
    padding: 15px 30px;
    text-decoration: none;
}
.card-img{
    border: 10px solid black;
}
main section img{
    box-sizing: border-box;
}
.book:hover, .join:hover{
    background-color:white;
    color: #021f35;
}
.msg h2{
    font-family: "Bebas Neue";
    color:white;
}
.msg p{
    font-size: .8em;
    color: white;
    padding-bottom: 15px;
}
footer h3{
    color: black;
}
footer p{
    color: white;
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: black;
}
#background{
    background-color:#021f35;
}
.msg{
    background-color:#021f35;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color:#021f35;
    margin-top: 200px;
    padding: 25px 50px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 220px 0;
}