@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@300&display=swap');

.logo{
    width: 80px;
} 
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.icon{
    padding-top: 10px;
    width: 80px;
}
#content{
    max-width: 1400px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: black;
    padding: 35px;
    text-decoration: none;
}
nav{
    display:flex;
    justify-content: space-around;
}
header{
    background-color: #0d658d;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover{
    background-color: white;
    color: #021f35;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
body{
    font-family: Oswald, Helvetica, sans-serif;
    font-size: 22px;
    background-color: #396E94;
    margin: 0;
    padding: 0;
}
.main-img{
    grid-column: 1/11;
    margin: auto;
    margin-top: 50px;
}
.secondary-img{
    margin-top: 50px;
    grid-column: 1/11;
    margin-left:auto;
    margin-right: auto;
}
h2{
    text-align:center;
    color: black;
    grid-column: 2/10;
}
h1{
    text-align:left;
    font-size: 1em;
    color: black;
    margin: auto;
}
.body-text{
    grid-column: 3/9;
}
footer h3{
    color: black;
}
footer p{
    color: white;
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: black;
}
footer{
    background-color:#021f35;
    margin-top: 50px;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
footer .social img{
    padding-top: 15px;
}
/*end of main paige*/

/*beginning of second page*/
.second-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.second-title{
    grid-column: 1/11;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 50px;
}
h3{
    width: 100%;
    margin: 10px 10px 10px 30px;
}
.neutral-img{
    width: 100%;
    grid-column: 6/11;
    grid-row: 2/3;
    margin: auto;
}
.top-img{
    width: 100%;
    grid-column: 1/6;
    grid-row: 3/4;
}
.greco-img{
    width:100%;
    grid-column: 6/11;
    margin-top: 10px;
}
.folkstyle-scoring{
    grid-row: 2/3;
    grid-column:1/5;
}
.freestyle-scoring{
    grid-row: 3/4;
    grid-column: 6/10;
    align-self: center;
    margin-left: 70px;
}
.greco-scoring{
    grid-row: 4/5;
    grid-column:1/5;
    align-self: center;
    margin-left: 70px;
    margin-top: 10px;
}
/*end of second page*/

/*beginning of third page*/
.third-title{
    grid-column: 1/11;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 50px;
}
h4{
    width: 100%;
    margin: 10px 10px 10px 30px;
}
.folkstyle-htw{
    margin-top: 75px;
    grid-row: 2/3;
    grid-column:2/5;
}
.freestyle-htw{
    margin-left:-50px;
    grid-row: 3/4;
    grid-column:2/5;
}
.greco-htw{
    margin-top: 15px;
    grid-row: 3/4;
    grid-column:6/10;
}
.scoring-img{
    width: 100%;
    grid-row: 2/3;
    grid-column:6/10;
}
.win-img{
    margin-top:10px;
    width: 100%;
    grid-row: 4/5;
    grid-column:2/10;
}
/*contact us css*/

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
  form li + li {
    margin-top: 1em;
}
  
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
  
input,
textarea {
    font: 1em sans-serif;
  
    width: 300px;
    box-sizing: border-box;
  
    border: 1px solid #999;
}
  
input:focus,
textarea:focus {
    border-color: #000;
}
  
textarea {
    vertical-align: top;
  
    height: 5em;
}
  
.button {
    padding-left: 90px;
}
  
button {
    margin-left: 0.5em;
}
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    display: none;      
}
.moveDown {
    margin-top: 3em;
}